:root { 
--gray_600:#6b7280; 
--black_900_01:#020202; 
--black_900:#000000; 
--red_600:#ec3d3d; 
--gray_900:#111827; 
--blue_gray_800:#374151; 
--gray_200:#e5e7eb; 
--white_A700:#ffffff; 
--gray_50:#f9fafb; 
--black_900_26:#00000026; 
}